div.DM-Button {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}
div.DM-Button:hover {
  background: black;
  color: white;
}
div.log {
  display: inline;
}
